.bloque {
  background-color: "white";
  width: "89%";
  height: "auto";
  color: "black";
  padding: "20px";
  margin-top: "20px"
}

.imageGallery {
  display: flex;
  width: 600px;
  height: 430px;
}

.imageGallery .image {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  border-radius: 5px;
}

.imageGallery .image:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}